<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blank Page customer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!-- Add custom CSS here -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  </head>

  <body>


  <%- include ("./partials/header"); %>

  <header class="bg-img">
    <div class="nav-wrapper clearfix">
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/nav-logo.png" alt=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/home-member">home</a></li>
              <li><a href="/menu">menu</a></li>
              <li><a href="/reservation">reservation</a></li>
              <li><a href="/order">order</a></li>
              <li><a href='/food-experience'>Food Experience</a></li>
              <li><a href="/contact">contact</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li> <a href='/home-member/member-edit_account'>Edit Account</a></li>

              <ul class="nav navbar-nav navbar-right navbar-user">

                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                            <%= username %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><a href='/logout'><span class="glyphicon glyphicon-log-out"></span>
                                        Logout</a></li>
                        </ul>
                    </li>
                </ul>
              
          </div>
        </div>
      </nav>
    </div>

    </div>
<div class="hero-section clearfix">
<h1 class="text-center">reservation!</h1>
<h2 class="text-center">Book a table online. Leads will reach in your email.</h2>



</div>
</header>
    

</body><body>

                
            

        <div id="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <% if(fx_info.length != 0){%>
                            <%for(var i=0;i< fx_info.length; i++){%>
                            <tr>
                                <td>
                                    <div id="first<%=i%>" class='panel panel-info'>
                                        <div>
                                            <h4>dear<strong>
                                            <%= username %>
                                            
                                                
                                                </strong></h4>
                                            <h5>your reservation has been done in<strong>
                                                    <%= fx_info[i].date%></strong> at
                                                <strong>
                                                    <%= fx_info[i].time%>
                                                </strong>
                                            </h5>
                                            <h5>thank you
                                            <strong>
                                            <%= username %>
                                                
                                                </strong> </h5>
                                            <p class='text-primary' style='margin-left:5px;font-size:20px;'>
                                                <%= fx_info[i].user_email%>
                                            </p>
                                        </div>
                                        <%if(u_type == 'member'){%>
                                        <a class="btn btn-danger pull-right"

                                        
                                            href="/reservation/delete/<%= fx_info[i].f_id %>"> cancel</a>
                                    </div>
                                    <%}}}else{%>
                                    <h2>Nothing to show</h2>
                                    <%}%>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>
                                            <% if(u_type != null) {%>

                                    <a data-toggle="modal" class="btn btn-default" href="#modal-add-experience">Add
                                        reservation</a>

                                    <!-- Modal For add experience. -->
                                    <div class="modal fade" id="modal-add-experience">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>

                                                    <h4 class="modal-title">Add reservation</h4>

                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-2"></div>
                                                    <form action="/reservation" method="POST" class="form"
                                                        role="form">

                                                        <div class="form-group">
                                                        <label for="">enter date</label>
                                                            
                                                            <input type="text"style="color:black " class="form-control" name="date"
                                                                placeholder="" required>
                                                        </div>

                                                        <div class="form-group">
                                                        <label for="">enter time</label>
                                                            
                                                            <input type="text" style="color:black "class="form-control" name="time"
                                                                placeholder="" required>
                                                        </div>

                                                        <div class="form-group">
                                                        <label for="">guest no:</label>
                                                            
                                                            <input type="text"style="color:black " class="form-control" name="g_no"
                                                                placeholder="" required>
                                                        </div>

                                                        <div class="form-group">
                                                        <label for="">enter phone no:</label>
                                                            <textarea name="p_no" class="form-control" rows="3"
                                                                placeholder=""
                                                                required></textarea>

                                                        </div>

                                                        <button type="submit" class="btn btn-primary">confirm reservation</button>
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <% if(u_type == 'member'){%>
                                    
                                    <%}else{%>
                                    
                                    <%}}else{%>
                                    
                                    <%}%>
                                        </td>
                                    </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript -->
        <script src="/js/jquery-1.10.2.js"></script>
        <script src="/js/bootstrap.js"></script>
</body>
</html>